In [1]:
from sasCrawler import fetch_price, parse_results
import pandas as pd

In [2]:
a = fetch_price("OSL", "ICN", "20180801", "20180808", "star", "1")

In [3]:
df1, df2 = parse_results(a)

Number of results Out: 10
Number of results In: 3

In [4]:
df1

,origin,destination,Departure Date,Departure Time,Arrival Date,Arrival Time,connectionDuration,via,Carrier(s),Cabin Classes,avlSeats,Points,Aircrafts
F0,OSL,ICN,2018-08-01,12:50:00,2018-08-02,11:20:00,15:30:00,FRA,LH,BUSINESS,1,70000,"Airbus A320 , Airbus A340-600"
F1,OSL,ICN,2018-08-01,16:05:00,2018-08-02,16:35:00,17:30:00,"FRA,PEK","LH, CA, CA","BUSINESS,ECONOMY","1,1","70000,45000","Airbus A320 , Boeing 747, Airbus A321-100/200"
F10,OSL,ICN,2018-08-01,12:50:00,2018-08-02,15:25:00,19:35:00,"FRA,PEK","LH, CA",BUSINESS,1,70000,"Airbus A320 , Airbus A340-600, Boeing 737-800"
F2,OSL,ICN,2018-08-01,16:00:00,2018-08-02,16:35:00,17:35:00,"ARN,PEK","SK, CA, CA",ECONOMY,1,45000,"Boeing 737-800 , Airbus A330-300, Airbus A321-..."
F3,OSL,ICN,2018-08-01,15:20:00,2018-08-02,16:35:00,18:15:00,"ARN,PEK","SK, CA, CA",ECONOMY,1,45000,"Airbus A320 , Airbus A330-300, Airbus A321-100..."
F4,OSL,ICN,2018-08-01,15:10:00,2018-08-02,16:35:00,18:25:00,"CPH,ARN,PEK","SK, CA, CA",ECONOMY,1,45000,"Airbus A321-100/200, Airbus A320-100/200, Airb..."
F5,OSL,ICN,2018-08-01,09:50:00,2018-08-02,11:20:00,18:30:00,FRA,LH,BUSINESS,1,70000,"Airbus A320 , Airbus A340-600"
F6,OSL,ICN,2018-08-01,09:50:00,2018-08-02,11:35:00,18:45:00,"FRA,PEK","LH, CA, CA","BUSINESS,ECONOMY","3,1","70000,45000","Airbus A320 , Boeing 777-300, Airbus A321-100/200"
F7,OSL,ICN,2018-08-01,14:15:00,2018-08-02,16:15:00,19:00:00,BKK,TG,"BUSINESS,ECONOMY","2,2","70000,45000","Boeing 777-300, Boeing 777-300"
F9,OSL,ICN,2018-08-01,09:15:00,2018-08-02,11:35:00,19:20:00,"FRA,PEK","SK, CA, CA","BUSINESS,ECONOMY","3,1","70000,45000","Boeing 737-800 , Boeing 777-300, Airbus A321-1..."

In [5]:
df2

,origin,destination,Departure Date,Departure Time,Arrival Date,Arrival Time,connectionDuration,via,Carrier(s),Cabin Classes,avlSeats,Points,Aircrafts
F0,ICN,OSL,2018-08-08,14:20:00,2018-08-08,22:10:00,14:50:00,FRA,"LH, SK",ECONOMY,1,45000,"Airbus A340-600, Boeing 737-800"
F1,ICN,OSL,2018-08-08,14:20:00,2018-08-08,22:55:00,15:35:00,FRA,LH,"BUSINESS,ECONOMY","6,1","70000,45000","Airbus A340-600, Airbus A320"
F2,ICN,OSL,2018-08-08,17:30:00,2018-08-09,07:25:00,20:55:00,BKK,TG,BUSINESS,2,70000,"Boeing 777-300, Boeing 777-300"